@import "../../assets/sass/_vars";

.formContainer {
  width: 384px;
  min-height: 599px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow: $boxShadow;

  .formTitle {
    margin-bottom: 21px;
    text-align: center;
  }

  .formSign {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .formButton {
      width: 100%;
      margin-bottom: 8px;
    }

    .formCheckbox{
      margin-top: 9px;
      padding-top: 8px;
      margin-bottom: 9px;
      border-top: 1px solid rgba(232, 232, 232, 1);

      span {
        align-self: flex-start;
      }
    }
  }

  .formLink {
    display: flex;
    justify-content: center;

    span {
      color: $infoColor;
      cursor: pointer;
      &:hover {
        color: $infoColor;
      }
    }
  }
}


