.articleListContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .articleListPagination{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}