@import "../../assets/sass/_vars";

.editArticleFormContainer{
  width: 938px;
  min-height: 710px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: $boxShadow;

  .editArticleFormTitle{
    margin-bottom: 21px;
    text-align: center;
  }

  .editArticleForm{
    display: flex;
    flex-direction: column;
    gap: 21px;

    .editArticleFormTagsContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      input{
        width: 300px;
      }

      .editArticleFormTags{
        width: 300px;
        padding: 8px;
      }
    }

    .editArticleFormButtonSend{
      width: 300px;
    }

    .editArticleFormTextarea{
      height: 168px;
      resize: none;
    }
  }

  .editArticleFormTagsAdd{
    display: flex;
    flex-direction: row;
    gap: 17px;
  }

  .editArticleFormTagsDelete{
    display: flex;
    flex-direction: row;
    gap: 9px;
  }
}