@import "../../assets/sass/_vars";

.articleItem{
  margin-bottom: 26px;
  padding: 15px 14px 24px 16px;

  .articleItemHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 5px;
    gap: 13px;
    align-items: center;

    .articleItemHeaderTitle{
      color: $infoColor;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      margin: 0;
      cursor: pointer;
    }

    .articleItemHeaderLikes{
      border: none;
      box-shadow: none;
      width: 16px;
      height: 14px;
      padding: 0;
      margin-right: 3px;
    }
  }

  .articleItemBody{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .articleItemTags{
      display: flex;
      flex-direction: row;
    }

    .articleItemBodyDescription{
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
    }
  }

  .articleItemAuthorContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;

    .articleItemAuthor{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
      gap: 12px;

      .articleItemAuthorInfo{
        display: flex;
        flex-direction: column;
      }

      .articleItemAuthorUsername{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .articleItemAuthorButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 12px;

      .articleItemAuthorEdit{
        color: $successColor;
        border-color: $successColor;
        &:hover {
          color: $successColor;
          border-color: $successColor;
        }
      }
    }
  }

  .articleItemText{
    margin-top: 25px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}


