@import "../../assets/sass/_vars";

.formContainer {
  width: 384px;
  min-height: 498px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: $boxShadow;

  .formTitle {
    margin-bottom: 21px;
    text-align: center;
  }

  .formSign {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    .formButton {
      width: 100%;
      margin-bottom: 8px;
      margin-top: 9px;
    }
  }
}


