@import "../../assets/sass/_vars";

.addArticleFormContainer{
  width: 938px;
  min-height: 710px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: $boxShadow;

  .addArticleFormTitle{
    margin-bottom: 21px;
    text-align: center;
  }

  .addArticleForm{
    display: flex;
    flex-direction: column;
    gap: 21px;

    .addArticleFormTagsContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      input{
        width: 300px;
      }

      .addArticleFormTags{
        width: 300px;
        padding: 8px;
      }
    }

    .addArticleFormButtonSend{
      width: 300px;
    }

    .addArticleFormTextarea{
      height: 168px;
      resize: none;
    }
  }

  .addArticleFormTagsAdd{
    display: flex;
    flex-direction: row;
    gap: 17px;
  }

  .addArticleFormTagsDelete{
    display: flex;
    flex-direction: row;
    gap: 9px;
  }
}